

#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 8px;
    background-color: #E3E6F3;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#navbar li{
    list-style: none;
    padding:0px 20px;
    position: relative;
}


#navbar li a{
    color:#1a1a1a;
    font-size:16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
}
#navbar li a:hover, #navbar li a.active{
    color:#088178;
}
#navbar li a.active::after, #navbar li a:hover::after{
    content: "";
    height: 2px;
    width:30%;
    position: absolute;
    background-color: #088178;
    bottom:-4px;
    left:20px;
}

#hero{
    background-image: url('img/hero.jpg');
    width:100%;
    height:90vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding:0 80px;
}



